@import "tailwindcss";

@layer base {
  button:enabled,
  [role="button"]:enabled {
    cursor: pointer;
  }

  a,
  button,
  input,
  select,
  textarea {
    @apply outline-2 outline-offset-0 outline-transparent;
    /* Note that `outline-style` needs the `:focus-visible` pseudo-class to override the `auto` default in Firefox */
    @apply focus-visible:outline-blue-400 focus-visible:outline-solid;
  }
}

@media screen and (update: fast) and (prefers-reduced-motion: no-preference) {
  :root {
    @apply scroll-smooth;
  }
}

@media not (update: fast) {
  * {
    @apply animate-none! transition-none!;
  }
}

/* `@theme inline` is required when referencing CSS custom properties */
/* @see https://tailwindcss.com/docs/theme#referencing-other-variables */
@theme inline {
  /*
    Color palette: Earthy Forest Hues
    Source: https://coolors.co/palette/dad7cd-a3b18a-588157-3a5a40-344e41
  */
  --color-dust-grey: #dad7cd;
  --color-dry-sage: #a3b18a;
  --color-fern: #588157;
  --color-hunter-green: #3a5a40;
  --color-pine-teal: #344e41;

  /* Typography */
  --font-serif: var(--font-merriweather);
  --font-mono: var(--font-roboto-mono);
}
